<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="httpClientConnectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
          destroy-method="close">
        <!-- 最大连接数 -->
        <property name="maxTotal" value="200"/>
        <!-- 设置每个主机地址的并发数 -->
        <property name="defaultMaxPerRoute" value="50"/>
    </bean>

    <!-- httpclient对象构建器 -->
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
        <!-- 设置连接管理器 -->
        <property name="connectionManager" ref="httpClientConnectionManager"/>
        <property name="retryHandler" ref="httpRetryHandler"/>
    </bean>

    <bean id="httpRetryHandler" class="com.luowenit.utils.http.HttpRetryHandler"></bean>

    <!-- 定义Httpclient对象 -->
    <bean id="httpClient" class="org.apache.http.impl.client.CloseableHttpClient" factory-bean="httpClientBuilder"
          factory-method="build" scope="prototype"></bean>

    <!-- 定义清理无效连接 -->
    <bean class="com.luowenit.utils.http.IdleConnectionEvictor" destroy-method="shutdown">
        <constructor-arg index="0" ref="httpClientConnectionManager"/>
    </bean>

    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
        <!-- 创建连接的最长时间 -->
        <property name="connectTimeout" value="3000"/>
        <!-- 从连接池中获取到连接的最长时间 -->
        <property name="connectionRequestTimeout" value="3000"/>
        <!-- 数据传输的最长时间 -->
        <property name="socketTimeout" value="10000"/>
        <!-- 提交请求前测试连接是否可用 -->
        <property name="staleConnectionCheckEnabled" value="true"/>
    </bean>
    <!-- 定义请求参数 -->
    <bean id="requestConfig" class="org.apache.http.client.config.RequestConfig" factory-bean="requestConfigBuilder"
          factory-method="build"></bean>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.hostname}"></property>
        <property name="port" value="${redis.port}"></property>
        <property name="password" value="${redis.pass}"></property>
        <property name="usePool" value="true"></property>
        <property name="poolConfig" ref="jedisPoolConfig"></property>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"></bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>

    <bean id="redisKey" class="com.luowenit.domain.db.RedisKey">
       <property name="keys">
           <map>
               <entry key="hots" value="WEBSITE_NOVEL_FICTION_HOTS"/>
               <entry key="typehots" value="WEBSITE_NOVEL_FICTION_TYPEHOTS"/>
               <entry key="latests" value="WEBSITE_NOVEL_FICTION_LATESTS"/>
               <entry key="latests_mobile" value="WEBSITE_NOVEL_FICTION_LATESTS_MOBILE"/>

               <entry key="0_0" value="WEBSITE_NOVEL_TYPE_PAGE_ALL_ALL"/>
               <entry key="1_0" value="WEBSITE_NOVEL_TYPE_PAGE_XUANHUAN_ALL"/>
               <entry key="2_0" value="WEBSITE_NOVEL_TYPE_PAGE_WUXIA_ALL"/>
               <entry key="3_0" value="WEBSITE_NOVEL_TYPE_PAGE_NVPIN_ALL"/>
               <entry key="4_0" value="WEBSITE_NOVEL_TYPE_PAGE_DUSHI_ALL"/>
               <entry key="5_0" value="WEBSITE_NOVEL_TYPE_PAGE_LISHI_ALL"/>
               <entry key="6_0" value="WEBSITE_NOVEL_TYPE_PAGE_YOUXI_ALL"/>
               <entry key="7_0" value="WEBSITE_NOVEL_TYPE_PAGE_KEHUAN_ALL"/>
               <entry key="8_0" value="WEBSITE_NOVEL_TYPE_PAGE_MEIWEN_ALL"/>

               <entry key="0_1" value="WEBSITE_NOVEL_TYPE_PAGE_ALL_DONE"/>
               <entry key="1_1" value="WEBSITE_NOVEL_TYPE_PAGE_XUANHUAN_DONE"/>
               <entry key="2_1" value="WEBSITE_NOVEL_TYPE_PAGE_WUXIA_DONE"/>
               <entry key="3_1" value="WEBSITE_NOVEL_TYPE_PAGE_NVPIN_DONE"/>
               <entry key="4_1" value="WEBSITE_NOVEL_TYPE_PAGE_DUSHI_DONE"/>
               <entry key="5_1" value="WEBSITE_NOVEL_TYPE_PAGE_LISHI_DONE"/>
               <entry key="6_1" value="WEBSITE_NOVEL_TYPE_PAGE_YOUXI_DONE"/>
               <entry key="7_1" value="WEBSITE_NOVEL_TYPE_PAGE_KEHUAN_DONE"/>
               <entry key="8_1" value="WEBSITE_NOVEL_TYPE_PAGE_MEIWEN_DONE"/>

               <entry key="0_2" value="WEBSITE_NOVEL_TYPE_PAGE_ALL_CONTINUE"/>
               <entry key="1_2" value="WEBSITE_NOVEL_TYPE_PAGE_XUANHUAN_CONTINUE"/>
               <entry key="2_2" value="WEBSITE_NOVEL_TYPE_PAGE_WUXIA_CONTINUE"/>
               <entry key="3_2" value="WEBSITE_NOVEL_TYPE_PAGE_NVPIN_CONTINUE"/>
               <entry key="4_2" value="WEBSITE_NOVEL_TYPE_PAGE_DUSHI_CONTINUE"/>
               <entry key="5_2" value="WEBSITE_NOVEL_TYPE_PAGE_LISHI_CONTINUE"/>
               <entry key="6_2" value="WEBSITE_NOVEL_TYPE_PAGE_YOUXI_CONTINUE"/>
               <entry key="7_2" value="WEBSITE_NOVEL_TYPE_PAGE_KEHUAN_CONTINUE"/>
               <entry key="8_2" value="WEBSITE_NOVEL_TYPE_PAGE_MEIWEN_CONTINUE"/>
           </map>
       </property>
    </bean>


</beans>